In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data = {
    "age": [25, 30, 35, 40, 45],
    "height": [150, 160, 170, 180, 190],
    "weight": [50, 60, 70, 80, 90],
}

df = pd.DataFrame(data)

scaler = MinMaxScaler()

normalized_data = scaler.fit_transform(df)
normalized_df = pd.DataFrame(normalized_data, columns=df.columns)

print("\nNormalized DataFrame:")
print(normalized_df)

Normalized DataFrame:
    age  height  weight
0  0.00    0.00    0.00
1  0.25    0.25    0.25
2  0.50    0.50    0.50
3  0.75    0.75    0.75
4  1.00    1.00    1.00

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {
    'customer.id': [1, 2, 3, 4],
    'gender': ["male", "female", "male", "female"],
    'city': ["Hyderabad", "Pune", "Bangalore", "Chennai"]
}

df = pd.DataFrame(data)
print('Original DataFrame:')
print(df)

# Initialize OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse=False)

# Specify the columns to encode
columns_to_encode = ['gender', 'city']

# Apply OneHotEncoder to the specified columns
encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])

# Get the column names for the encoded data
encoded_columns = one_hot_encoder.get_feature_names_out(columns_to_encode)

# Convert the encoded data into a DataFrame
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)

# Concatenate the encoded columns with the original DataFrame (if needed)
final_df = pd.concat([df, encoded_df], axis=1)

# Print the final DataFrame with One-Hot Encoding
print('\nOne Hot Encoded DataFrame with sklearn:')
print(final_df)

Original DataFrame:
   customer.id  gender       city
0            1    male  Hyderabad
1            2  female       Pune
2            3    male  Bangalore
3            4  female    Chennai

One Hot Encoded DataFrame with sklearn:
   customer.id  gender       city  gender_female  gender_male  city_Bangalore  \
0            1    male  Hyderabad            0.0          1.0             0.0
1            2  female       Pune            1.0          0.0             0.0
2            3    male  Bangalore            0.0          1.0             1.0
3            4  female    Chennai            1.0          0.0             0.0

   city_Chennai  city_Hyderabad  city_Pune
0           0.0             1.0        0.0
1           0.0             0.0        1.0
2           0.0             0.0        0.0
3           1.0             0.0        0.0

In [5]:
import pandas as pd
df = pd.read_csv('car_price_dataset.csv')
print(df.head())

        Brand   Model  Year  Engine_Size Fuel_Type    Transmission  Mileage  \
0         Kia     Rio  2020          4.2    Diesel          Manual   289944
1   Chevrolet  Malibu  2012          2.0    Hybrid       Automatic     5356
2    Mercedes     GLA  2020          4.2    Diesel       Automatic   231440
3        Audi      Q5  2023          2.0  Electric          Manual   160971
4  Volkswagen    Golf  2003          2.6    Hybrid  Semi-Automatic   286618

   Doors  Owner_Count  Price
0      3            5   8501
1      2            3  12092
2      4            2  11171
3      2            1  11780
4      3            3   2867