In [1]:
import pandas as pd
import numpy as np

In [4]:
movies_df = pd.read_csv('movie.csv')

In [8]:
movies_df[0:5]

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

In [6]:
len(movies_df.userId.unique())

4081

In [7]:
len(movies_df.movie.unique())

10

In [13]:
movies_df.isnull().sum()

userId    0
movie     0
rating    0
dtype: int64